/* Général */

body {
	font-family:arial;
}

* {
	box-sizing: border-box;
}

h1{
	margin-top:30px;
	text-align:center;
	font-family:cursive;
	}

h2{
	text-align:center;
}

/* en-tête */

/* Logo */
#logo img{
	width:110px;
	height:110px;
	margin-left:30px;
	margin-bottom:20px;
	margin-top:10px;
	float:left;
}

/* Menu de navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color:#ADD8E6;
  border-radius: 12px;
  font-size: 20px;
  padding:10px;
  width:170px;
  margin-top:45px;
  margin-right:auto;
  margin-left:auto;
}

nav li {
  float: left;
  width:25%;
}

/* animation des onglets */
nav ul li a:hover{
	color:black;
	background:#DCDCDC;
}	

/* Image galerie*/

#galerie img{
	width:100%;
}

/* Container de la diapo */

/* Positionner le container */
.container {
  max-width:300px;
  position: relative;
  margin:auto; 
  margin-top:100px;
}

/* Taille des images */
.slider_image{
    width: 300px;
	height:300px;
	
  }

/* Cacher les images par default */
.mySlides {
  display: none;
}

/* Texte sous la diapo */
.text {
	color:black;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
.text span {
	font-weight:bold;
}

/* Bouton precedent et suivant */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: darkgray;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

/* Position des boutons */
.next {
  right: -100px;
  transform:scaleX(1.5);
}
.prev {
  left: -100px;
  transform:scaleX(-1.5);
}

/* Fond noir sur fleche */
.prev:hover, .next:hover {
    color:gray;
}

/* Numerotation */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* main */

/* Rectangle couleur */
main{
margin-top: 50px;
padding: 30px;
background: #ADD8E6;
}

/* Bloc */
.bloc{
display: flex;
margin-top: 25px;
flex-wrap: wrap;
}

/* Taille des images */
.images{
width: 250px;
height: 250px;
}

/* Emplacement des titres */
.card-main{
display: flex;
float:left;
width: 33%;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
}

/* Separation */
hr.separation{
margin-top:50px;
border: 3px solid #ADD8E6;
width:300px;
border-radius:5px;
margin-bottom:50px;
}

/* Partie artistes */

.row_r{
display:none;
}

#artistes p{
	line-height: 1.6;
}

/* Colonnes */
.colonne {
  float: left;
  width: 33%;
  text-align:left;
  margin-bottom:50px;
}

/* Suppression des colonnes */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Decalage des noms */
.nom{
  margin-left:40%;
}

/* Partie boutique */

/* Bloc */
.bloc2{
display: flex;
}

/* Taille des images */
.images2{
width: 275px;
height: 250px;
margin-bottom:10px;
margin-top:25px;
}

.images3{
width: 225px;
height: 250px;
margin-bottom:10px;
margin-top:25px;
}

.images4{
width: 200px;
height: 275px;
margin-bottom:10px;
}

/* Emplacement des titres */
.imageboutique{
display: flex;
float:left;
width: 33%;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
text-align:center;
}

/* Texte */
.textboutique {
	line-height:1.5;
}

.textboutique span {
	font-weight:bold;
	margin-top:10px;
}
	
/* Aggrandissment */
.images2:hover, .images3:hover, .images4:hover{
	scale:1.2;
}

/* Partie A propos */

/* Texte */
h3 {
	margin-top:75px;
	margin-left:75px;
}

#a_propos p{
	margin-left:75px;
	margin-right:75px;
	text-align:justify;
}

/* Cacher une partie du texte et la checkbox */
#more {
display:none;
}

#ch{
display: none;
}
	
/* Bouton voir plus - voir moins */
#ch:checked ~ #more{
display: block;
}
	
#ch:checked ~ label{
display: none;
}
	
label{
margin-left: 75px;
cursor: pointer;
text-decoration-line: underline;
}

/* Partie nous contacter */

/* Texte */
#nous_contacter p{
	margin-left:75px;
	margin-right:75px;
	text-align:justify;
}

/* Map */
#nous_contacter img {
	display:block;
	width:90%;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
}

/* Icones */
#nous_contacter i{
	margin-right:10px;
}

				/* responsive */

@media screen and (max-width: 600px) {

/* général */

body{
	font-size:10px;
}
	
/* Logo */
#logo img{
	width:50px;
	height:50px;
	margin-left:5px;
}

nav li a {
  font-size:10px;
  width:70px;
  margin-top:20px;
padding:5px;
}

/* Container de la diapo */
	
/* Positionner le container */
.container {
  max-width:100px;
  margin-top:30px;
}

/* Taille des images */
.slider_image{
width:100px;
height:100px;	
}

/* Texte sous la diapo */
.text {
    font-size: 8px;
}

/* boutons précédent et suivant */
.prev,
.next {
  padding: 25px;
  font-size: 8px;
}
	
/* Main */

/* Taille des images */
.images{
width: 100px;
height: 100px;
}

/* Centrer les images */
.card-main{
width:50%;
margin-bottom:25px;
}

/* Separation */
hr.separation{
	width:150px;
	margin-bottom:25px;
}

/* Partie artistes */
.row{
display:none;
}

.row_r{
display:flex;
}
	
#artistes p{
	font-size:13px;
}
	
/* Colonnes */
.colonne_r {
	float: left;
	width: 50%;
	text-align: left;
	margin-bottom:50px;
}

/* Décalage des noms */
.nom_r{
	margin-left:40%;
}

/* Partie boutique */

/* bloc */
.bloc2{
	display: flex;
	flex-wrap:wrap;
}

.imageboutique{
	width:50%;
}
	
/* Taille des images */
.images2{
	width: 98px;
	height: 84px;
}

.images3{
	width: 90px;
	height: 86px;
}

.images4{
	width:60px;
	height: 70px;
}

/* Partie A Propos */
	
/* Texte */
h3 {
	margin-top:30px;
	margin-left:25px;
	margin-right:25px;
}

#a_propos p{
	margin-left:25px;
	margin-right:25px;
}

/* Cacher une partie du texte */
#more2 {
	display: none;
}
	
/* Bouton voir plus - voir moins */
#ch:checked ~ #more {
	display: block;
}

#ch:checked ~ #more2 {
	display: block;
}

label{
	margin-left:25px;
}	

/* Partie nous contacter */

/* Texte */
#nous_contacter p{
	margin-left:25px;
	margin-right:25px;
}
	
/* Map */
#nous_contacter img {
	width:90%;
	height:200px;
}

}
