/* en-tête */
#logo img{
	width:110px;
	height:110px;
	margin-left:30px;
	margin-top:10px;
	float:left;
}

nav ul li a{
	color:black;
	padding:10px 35px;
	text-decoration:none;
	background-color:#ADD8E6;
	border-radius:12px;
}

nav ul li{
	list-style-type:none;
	display:inline-block;
	margin:5%;
}

/* animation des onglets */
nav ul li a:hover{
	color:black;
	background:#DCDCDC;
}	

/* body */

	/* page 1 */

#galerie img{
	width:100%;
}
