/* en-tête */
#logo img{
	width:110px;
	height:110px;
	margin-left:30px;
	margin-top:10px;
	float:left;
}

nav ul li a{
	color:black;
	padding:10px 35px;
	text-decoration:none;
	background-color:#ADD8E6;
	border-radius:12px;
}

nav ul li{
	list-style-type:none;
	display:inline-block;
	margin:5%;
}

/* animation des onglets */
nav ul li a:hover{
	color:black;
	background:#DCDCDC;
}	

/* body */

	/* page 1 */

#galerie img{
	width:100%;
}

/* Container de la diapo */

/* Positionner le container */
.container {
  max-width:300px;
  position: relative;
  margin:auto; 
  margin-top:100px;
}

/* Taille des images */
.slider_image{
    width: 300px;
	height:300px;
	
  }

/* Cacher les images par default */
.mySlides {
  display: none;
}

/* Texte sous la diapo */
.text {
	color:black;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
.text span {
	font-weight:bold;
}

/* Bouton precedent et suivant */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: darkgray;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

/* Position des boutons */
.next {
  right: -100px;
  transform:scaleX(1.5);
}
.prev {
  left: -100px;
  transform:scaleX(-1.5);
}

/* Fond noir sur fleche */
.prev:hover, .next:hover {
    color:gray;
}

/* Numerotation */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* main */

/* Rectangle couleur */
main{
margin-top: 50px;
padding: 30px;
background: #ADD8E6;
}

/* Bloc */
.bloc{
display: flex;
margin-top: 25px;
}

/* Taille des images */
.images{
width: 250px;
height: 250px;
}

/* Emplacement des titres */
.card-main{
display: flex;
float:left;
width: 33%;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
}

/* Separation */
hr.separation{
margin-top:50px;
border: 3px solid #ADD8E6;
width:300px;
border-radius:5px;
margin-bottom:50px;
}
